In [3]:
import pandas as pd

# 2.

In [4]:
file = open("found_pokemon.txt", "r", encoding="utf-8")
data = []
head_line = []
first = True
for line in file:
  line = line.rstrip().split(",")
  if first:
    head_line = line
    first = False
  else:
    line[1] = int(line[1])
    line[2] = int(line[2])
    line[3] = int(line[3])
    data.append(tuple(line))

found = pd.DataFrame(data=data,index=['']*len(data),columns = head_line)
found

        kind  market  playground  shopping mall
    Tamatama      23          14             25
  Charmander      42          34             30
   Balbasaur      26          31             18
      Pigeon      38          42             27
      Kokoon      17          28             22
    Onitsumi      25          20             37
      Beedle      16          11              9
   Wartortle      22          35             29
     Metapod      10          13             18
  Butterfree      15          28             24

# a)

In [5]:
found["sum found"] = found["market"]+found["playground"]+found["shopping mall"]
found

        kind  market  playground  shopping mall  sum found
    Tamatama      23          14             25         62
  Charmander      42          34             30        106
   Balbasaur      26          31             18         75
      Pigeon      38          42             27        107
      Kokoon      17          28             22         67
    Onitsumi      25          20             37         82
      Beedle      16          11              9         36
   Wartortle      22          35             29         86
     Metapod      10          13             18         41
  Butterfree      15          28             24         67

# b)

In [6]:
market = [found['kind'][x] for x in range(len(found['market'])) if found['market'][x] == found['market'].max()]
playground =[found['kind'][x] for x in range(len(found['playground'])) if found['playground'][x] == found['playground'].max()]
shopping = [found['kind'][x] for x in range(len(found['shopping mall'])) if found['shopping mall'][x] == found['shopping mall'].max()]
place = ['market','playground','shopping mall']
kind = []
kind.extend(market)
kind.extend(playground)
kind.extend(shopping)
max_place = pd.DataFrame(data=kind,index=place,columns=[''])
max_place

market         Charmander
playground         Pigeon
shopping mall    Onitsumi

# c)

In [7]:
found["per_market_x"] = (found["market"]/found['sum found'])*100
found["per_playground_x"] = (found["playground"]/found['sum found'])*100
found["per_shopping_x"] = (found["shopping mall"]/found['sum found'])*100
found

,kind,market,playground,shopping mall,sum found,per_market_x,per_playground_x,per_shopping_x
,Tamatama,23,14,25,62,37.096774,22.580645,40.322581
,Charmander,42,34,30,106,39.622642,32.075472,28.301887
,Balbasaur,26,31,18,75,34.666667,41.333333,24.000000
,Pigeon,38,42,27,107,35.514019,39.252336,25.233645
,Kokoon,17,28,22,67,25.373134,41.791045,32.835821
,Onitsumi,25,20,37,82,30.487805,24.390244,45.121951
,Beedle,16,11,9,36,44.444444,30.555556,25.000000
,Wartortle,22,35,29,86,25.581395,40.697674,33.720930
,Metapod,10,13,18,41,24.390244,31.707317,43.902439
,Butterfree,15,28,24,67,22.388060,41.791045,35.820896

# d)

In [8]:
top_3_mar = found.sort_values(by=["market"],ascending = False)
top_3_mar = top_3_mar.iloc[:, [0,1]].head(3)
top_3_play = found.sort_values(by=["playground"],ascending = False)
top_3_play = top_3_play.iloc[:, [0,2]].head(3)
top_3_shop = found.sort_values(by=["shopping mall"],ascending = False)
top_3_shop = top_3_shop.iloc[:, [0,3]].head(3)
top_3_place = pd.concat([top_3_mar,top_3_play,top_3_shop], axis=0)
top_3_place.fillna('-')

        kind market playground shopping mall
  Charmander   42.0          -             -
      Pigeon   38.0          -             -
   Balbasaur   26.0          -             -
      Pigeon      -       42.0             -
   Wartortle      -       35.0             -
  Charmander      -       34.0             -
    Onitsumi      -          -          37.0
  Charmander      -          -          30.0
   Wartortle      -          -          29.0

# e)

In [9]:
found['AVG'] = found['sum found']/3
found.iloc[:,[0,1,2,3,8]]

        kind  market  playground  shopping mall        AVG
    Tamatama      23          14             25  20.666667
  Charmander      42          34             30  35.333333
   Balbasaur      26          31             18  25.000000
      Pigeon      38          42             27  35.666667
      Kokoon      17          28             22  22.333333
    Onitsumi      25          20             37  27.333333
      Beedle      16          11              9  12.000000
   Wartortle      22          35             29  28.666667
     Metapod      10          13             18  13.666667
  Butterfree      15          28             24  22.333333

# f)

In [10]:
found['per_market_y'] = (found['market']/found['market'].sum())*100
found['per_playground_y'] = (found['playground']/found['playground'].sum())*100
found['per_shopping_y'] = (found['shopping mall']/found['shopping mall'].sum())*100
found.iloc[:,[0,1,2,3,9,10,11]]

,kind,market,playground,shopping mall,per_market_y,per_playground_y,per_shopping_y
,Tamatama,23,14,25,9.829060,5.468750,10.460251
,Charmander,42,34,30,17.948718,13.281250,12.552301
,Balbasaur,26,31,18,11.111111,12.109375,7.531381
,Pigeon,38,42,27,16.239316,16.406250,11.297071
,Kokoon,17,28,22,7.264957,10.937500,9.205021
,Onitsumi,25,20,37,10.683761,7.812500,15.481172
,Beedle,16,11,9,6.837607,4.296875,3.765690
,Wartortle,22,35,29,9.401709,13.671875,12.133891
,Metapod,10,13,18,4.273504,5.078125,7.531381
,Butterfree,15,28,24,6.410256,10.937500,10.041841